@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --branco-principal: #FFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167DF7;
    --cor-de-fundo: #00030C;
    --hover-botao: #16B0F7;
    --hover-links: #9800b6;
    --visited-links: #b60092;
    --fonte-principal: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario{
    margin: 0 13em;
    text-align: start;
    gap: 2em;
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    color: var(--branco-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
    font-size: 16px;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.secundario__imagem_telas{
    justify-self: end;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    font-weight: 700;
}

.dispositivos__lista{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    margin: 5em 0;
}

.dispositivos__lista__texto{
    font-size: 32px;
    font-weight: 700;
}

.rodape{
    margin: 0 5em;
    text-align: center;
    margin: 5em;
    margin-top: 10em;
}

.rodape__lista{
    display: flex;
    margin: 2em 0;
    justify-self: center;
}

.lista__link{
    text-decoration: none;
    list-style-type: none;
    color: var(--branco-principal);
    padding: 0.5em;
    font-size: 16px;
}

.rodape__texto{
    padding: 0.5em;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.botao__hover:hover{
    color: var(--cor-de-fundo);
    background-color: var(--hover-botao);
    border: 1px solid transparent;
    transition: 0.2s;
}

.lista__link:visited{
    color: var(--visited-links);
}

.lista__link:hover{
    color: var(--hover-links);
}

@media screen and (max-width: 786px){
    .container{
        display: block;
        background-image: none;
        margin: 0 5vw;
        align-content: center;
    }

    .container__imagem{
        width: 50vw;
    }

    .container__caixa{
        margin: 2em 2em;
    }

    .container ~ .secundario{
        height: 70vh;
    }

    .secundario{
        margin: 0;
        text-align: center;
    }

    .secundario__imagem{
        width: 50vw;
    }

    .dispositivos__lista{
        display: block;
    }

    .rodape__lista{
        display: block;
    }
}