@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --branco-principal: #FFF;
    --cinza-secundari0: #C0C0C0;
    --botao-azul: #167DF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundari0);
}

.secundario{
    margin: 0 13em;
    text-align: start;
    gap: 2em;
}

.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundari0);
    font-size: 16px;
}

.secundario__botao{
    display: inline-block;
    margin-top: 0.5em;
}